/*általános*/
body{
    background-color: rgb(129,151,150);
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*az egyes divek beállítása*/
#gamearea{
    width: 1000px;
    min-width: 700px;
    height: fit-content;
    border: 2px rgb(25,51,45) solid;
    margin: 0 auto;
    position: relative;
    background-color: rgb(87, 114, 119);
    overflow: hidden;
}

/*headerben az elemek egymás mellé ne alá menjenek -> flexbox*/
#header{
    width: 99%; /* a padding miatt :) */
    height: 30px;
    color: white;
    padding: 5px;
    background-color: rgb(25,51,45);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header_item p{
    flex: none;
    height: 30px;
    font-size: 150%;
    margin: 0;
}

#menu{
    width: 100%;
    height: 400px;
    padding: 10px;
    display: flex;
    gap: 20px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

#logo{
    width: auto;
    height: 150px;
}

/*hátterekhez css*/
#background{
    width: 100%;
    height: 634px;
    position: relative;
    overflow: hidden;
}

.bg {
    position: absolute;
    top: 0;
    width: 1376px;
    height: 634px;
    background-image: url('assets/bgBamboo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/*vörös panda canvasa*/
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* canvas rákerül a bgre és hogy a bg mögötte maradjon kell a z-index*/
}

/*akadályoknak csak ez közös :d*/
.obstacle{
    position: absolute;
}


/*menü elemei*/



#title{
    margin: 0;
}
